.Suggests {
  position: absolute!important;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25rem;
  padding: 0;
  margin-top: -1px;
  border: 1px solid #aaa;
  border-top-width: 0;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}

.SuggestsHidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  opacity: 0;
}